body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2.1vw;
    background-color: rgb(17, 20, 35);
  }
  
  nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2vw;
  }
  
  nav a:hover{
    border-bottom: 2px solid #fff;
  }
  
  .nleft{
    display: flex;
    gap: 2vw;
  }
  
  .nleft .head{
    color: #fff;
    font-size: 1.2vw;
  }
  
  .nleft :nth-child(1){
    font-weight: 600;
  }
  
  .nright{
    display: flex;
    gap: 1vw;
  }
  
  .nright button{
    font-size: 1vw;
    color: #fff;
    background: transparent;
    padding: .5vw .8vw;
    border: 1px solid white;
    border-radius: 5px;
    transition: .2s;
  }
  
  .nright button:hover{
    transform: scale(1.1);
  }
  
  .hero{
    margin: 0vw 10vw;
    display: flex;
    align-items: center;
  }
  
  .left{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .left h1{
    font-size: 3vw;
    text-transform: capitalize;
    line-height: .2vw;
  }
  
  .left p{
    font-size: 1.3vw;
    text-transform: uppercase;
    opacity: .7;
    font-weight: 500;
  }