.bgb{
  background-color: blue;
}
body{
  display: flex;
  width: 100%;
  height: 100%;
  margin: 2px;
  padding: 5px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,64,233,1) 34%, rgba(32,139,244,1) 59%, rgba(235,54,22,1) 100%);
}